<h1>Listing products</h1>

<table>
  <tr>
    <th>Producer</th>
    <th>Customer</th>
    <th>Dt</th>
    <th>Desc</th>
    <th>Benefits it offers</th>
    <th>Estimated rsp</th>
    <th>L price</th>
    <th>Benefits to clients</th>
    <th>Photos</th>
    <th>Videos</th>
    <th>Sr2l</th>
    <th>Refp number</th>
    <th>Fixed costs</th>
    <th>Gross margin</th>
    <th>Bp link</th>
    <th>Pp link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.producer_id %></td>
    <td><%= product.customer_id %></td>
    <td><%= product.dt %></td>
    <td><%= product.desc %></td>
    <td><%= product.benefits_it_offers %></td>
    <td><%= product.estimated_rsp %></td>
    <td><%= product.l_price %></td>
    <td><%= product.benefits_to_clients %></td>
    <td><%= product.photos %></td>
    <td><%= product.videos %></td>
    <td><%= product.sr2l %></td>
    <td><%= product.refp_number %></td>
    <td><%= product.fixed_costs %></td>
    <td><%= product.gross_margin %></td>
    <td><%= product.bp_link %></td>
    <td><%= product.pp_link %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
