<p id="notice"><%= notice %></p>

<p>
  <b>Producer:</b>
  <%= @product.producer_id %>
</p>

<p>
  <b>Dt:</b>
  <%= @product.dt %>
</p>

<p>
  <b>Desc:</b>
  <%= @product.desc %>
</p>

<p>
  <b>Benefits it offers:</b>
  <%= @product.benefits_it_offers %>
</p>

<p>
  <b>Estimated rsp:</b>
  <%= @product.estimated_rsp %>
</p>

<p>
  <b>L price:</b>
  <%= @product.l_price %>
</p>

<p>
  <b>Benefits to clients:</b>
  <%= @product.benefits_to_clients %>
</p>

<p>
  <b>Photos:</b>
  <%= @product.photos %>
</p>

<p>
  <b>Videos:</b>
  <%= @product.videos %>
</p>

<p>
  <b>Sr2l:</b>
  <%= @product.sr2l %>
</p>

<p>
  <b>Refp number:</b>
  <%= @product.refp_number %>
</p>

<p>
  <b>Fixed costs:</b>
  <%= @product.fixed_costs %>
</p>

<p>
  <b>Gross margin:</b>
  <%= @product.gross_margin %>
</p>

<p>
  <b>Bp link:</b>
  <%= @product.bp_link %>
</p>

<p>
  <b>Pp link:</b>
  <%= @product.pp_link %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
